*{
  box-sizing: border-box;
}
nav{
  background-color: black;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}
nav ul{
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
  justify-content: center;
}
body{
  margin: 0;
}
nav a{
  padding: 30px 100px;
  display: inline-block;
  color: aliceblue;
  font-family:'Rubik Bubbles', cursive;;
  text-decoration: none;
}
nav ul li:hover{
  background-color: gray;
}
nav ul li a:hover{
  color: black;
}
header{
  background-image: url(./pg.jpg);
  height: 50vh;
  background-size: cover;
  display: flex;
  color: aliceblue;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about{
  background-image: url(./gats.jfif);
  height: 50vh;
  background-size: cover;
  display: flex;
  color: aliceblue;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}